* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    width: 200px !important;
    background-color: red !important;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

@media (max-width:576px) {
    .sidebar {
        position: absolute;
        top: 0;
        left: -200px;
    }
}